#textdomain wesnoth-Delfadors_Memoirs
[scenario]
	name=_ "Epiloque"
	id=12_zatim_konec
	{MEMOIRS_MAP wasteland.map}
	turns=1

        [story]
                [part]
                        story=_ " This is the end of the story also known as Legend of Young Delfador."
                [/part]

                [part]
                        story=_"
The 'Delfador's Memoirs' campaign was brought to you by:

Josh Parsons : creator of earlier versions (up to 0.5.2) of the campaign containg first 10 scenarios 

Oto 'tapik' Buchta : new maintainer (from 0.6.0), internationalization, improvements, bugfixing
 
Arkadiusz D. Danilecki : many things have been stolen from his 'A New Order'

Many thanks to Torangan for patience and explaining how wescamp works; all others from wesnoth forum.
"
                [/part]
                [part]
                        story=_ "
TRANSLATIONS:
Oto 'tapik' Buchta: Czech translation
blurgk: French translation
David Philippi (torangan): German translation
RokStar: Italian translation
nikita: Russian translation
Stefan Bergström (tephlon): Swedish translation
"
                [/part]
                [part]
                        story=_" If you liked the campaign, please post your feedback at wesnoth forum (http://www.wesnoth.org/forum/). Authors invested a lot of time into this campaign, just as translators and others did; in return we would love to hear some opinions about it from people who played it."
                [/part]

                [part]
                        story=_ " CAMPAIGN MAINTAINER: The campaign is not finalized yet. Delfador should come to Abez with Chantal, kill the prince Eldred and many others. The author of the initial scenarios had some ideas and in the future they will be fulfilled. If you would like to help me with the finalization, you could. Please contact me at the Wesnoth forum. Tapik"
                [/part]
        [/story]


	{AFTERNOON}

	next_scenario=null

	[side]
		type=White Mage
		description=Delfador
		side=1
		canrecruit=1
		controller=human
		recruit=Elvish Shaman
		team_name=goodies
	[/side]

        [event]
                name=start

                [endlevel]
                        result=continue_no_save
                        bonus=no
                [/endlevel]
        [/event]

[/scenario]
