#textdomain wesnoth-Delfadors_Memoirs
[scenario]
    name=_ "Overture"
    id=overture
    {MEMOIRS_MAP four_oracles}
    turns=1
    
    {MORNING}
    
    next_scenario=arrived
    
    {MEMOIRS_ITEM_WELL 24 19}
    
    [side]
        type=Journeyman Mage
        description=Delfador
        user_description=_"Delfador"
        side=1
        canrecruit=1
        controller=human
        recruit=Mage,Spearman,Horseman
        team_name=goodies
        [unit]
            description=Methor
            user_description=_"Methor"
            {MEMOIRS_PORTRAIT_UNIT methor}
            type=Mage of Light
            side=1
            x=9
            y=10
        [/unit]
    [/side]
    
    [side]
        type=Mage of Light
        description=Marshal
        user_description=_"Marshal"
        side=2
        recruit=Arch Mage
        team_name=goodies
        controller=ai
        {MEMOIRS_GUARD 10 11 (Great Mage) 2}
        {MEMOIRS_GUARD  6 11 (Great Mage) 2}
        {MEMOIRS_GUARD  8 13 (Great Mage) 2}
        {MEMOIRS_GUARD  8  9 (Great Mage) 2}
    [/side]
    
    
    # prestart events:
    # set starting scenario objectives
    # teleport starting characters
    # set starting variables
    
    [event]
        name=prestart
        
        #Transport leader to starting position and erase keep he was created on
        [teleport]
            [filter]
                description=Delfador
            [/filter]
            x,y=20,16
        [/teleport]
        
        [terrain]
            x=1
            y=1
            letter=f
        [/terrain]
        
    [/event]
    
    {MEMOIRS_DEATHS}
    
    [story]
        [part]
            story = _ "This is the true story of the Delfador the Great from the times he did not use such name. The true story how he became famous and the most powerfull of all beings in the Wesnoth. It would be a great hero epos, but it was happened. "
        [/part]
        [part]
            story = _ " Once upon a time..."
        [/part]
        [part]
            story = _ " After ten years of a hard work one young mage apprentice has finished his studies. He had chance to became Mage. The tradition told that last two things have stood before him:"
        [/part]
        [part]
            story = _ " The New Mage Ceremony"
        [/part]
        [part]
            story = _ " and"
        [/part]
        [part]
            story = _ " The Name Journey"
        [/part]
    [/story]
    
    [event]
        name=start
        [message]
            description=narrator
            message = _ " Mage school of Light, Isle of Anduin."
        [/message]
        [scroll_to_unit]
            description=Delfador
        [/scroll_to_unit]
        [message]
            description=Delfador
            message = _ " Young mage: I'm looking forward the Ceremony. "
        [/message]
        
        [hide_unit]
            x,y=20,16
        [/hide_unit]
        
        [teleport]
            [filter]
                description=Delfador
            [/filter]
            x,y=12,14
        [/teleport]
        
        [move_unit_fake]
            type=Journeyman Mage
            x=20,19,18,17,16,15,14,13,12
            y=16,16,15,16,15,16,15,15,14
        [/move_unit_fake]
        [unhide_unit]
            x,y=12,14
        [/unhide_unit]
        [message]
            description=narrator
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            description=Marshal
            message = _ "Come on, New Mage. Oracles are waiting for you."
        [/message]
        
        [hide_unit]
            x,y=12,14
        [/hide_unit]
        
        [teleport]
            [filter]
                description=Delfador
            [/filter]
            x,y=8,11
        [/teleport]
        
        [move_unit_fake]
            type=Journeyman Mage
            x=12,11,10, 9, 8
            y=14,14,13,12,11
        [/move_unit_fake]
        [unhide_unit]
            x,y=8,11
        [/unhide_unit]
        
        [message]
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            message = _ " 1st oracle: The old times are passing. After centuries of peace the orcs will come. They are comming soon. The world will be changed. And you will be the delegate of our brotherhood of mages. I'm giving you the first part of your Name. DEL"
        [/message]
        [message]
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            message = _ " 2nd oracle: And you will be famous. Very famous. You will be called great. I'm giving you the second part of your name. FA"
        [/message]
        [message]
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            message = _ " 3rd oracle: Yes. The old times are over. But there will be our hope. There is always hope. And you will be the father of it. I agree with the second part of your name. FA"
        [/message]
        [message]
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            message = _ " 4th oracle: And your heard will be clean such a water. Good and without fear. The same as the legendary Dacyn Orc Slayer. I'm giving you the last part of your name. DOR"
        [/message]
        [message]
            message = _ " ...thorum restro targa thorum... "
        [/message]
        [message]
            description=Marshal
            message = _ "Stand up, DELFADOR, and open your eyes. And open them again!"
        [/message]
        
        [message]
            description=Delfador
            message = _ ". ."
        [/message]
        [message]
            description=Delfador
            message = _ "o o"
        [/message]
        [message]
            description=Delfador
            message = _ "O O"
        [/message]
        [message]
            description=Delfador
            message = _ "WHOW!"
        [/message]
        [message]
            description=Marshal
            message = _ "And GO."
        [/message]
        [message]
            description=Marshal
            message = _ "Now."
        [/message]
        [message]
            description=Marshal
            message = _ "You should fullfil your journey. Methor will lead you."
        [/message]
        
        [message]
            description=Methor
            message = _ "I'll be your master. The end of your journey will finish in land, southwest from Weldyn."
        [/message]
        [message]
            description=Methor
            message = _ "Dangerous journey will before us."
        [/message]
        [message]
            description=Delfador
            message=_"Let's go!"
        [/message]
        [kill] # Methor off the recall list
            description=Methor
        [/kill]
        
        [endlevel]
            result=continue
        [/endlevel]
    [/event]
    
[/scenario]
